In [1]:
import pandas as pd
import keras
import numpy as np
from sklearn.model_selection import train_test_split

Using TensorFlow backend.
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
df = pd.read_csv('donor_dataset.csv', index_col = False)

In [3]:
df.head()

,Unnamed: 0,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income
0,0,0.301370,0.800000,0.667492,0.0,0.397959,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0.452055,0.800000,0.000000,0.0,0.122449,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,0.287671,0.533333,0.000000,0.0,0.397959,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,3,0.493151,0.400000,0.000000,0.0,0.397959,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0.150685,0.800000,0.000000,0.0,0.397959,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Columns: 104 entries, age to income
dtypes: float64(5), int64(99)
memory usage: 35.9 MB

In [6]:
X = df.drop('income', axis = 1)

In [7]:
df.head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income
0,0.301370,0.800000,0.667492,0.0,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.452055,0.800000,0.000000,0.0,0.122449,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0.287671,0.533333,0.000000,0.0,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.493151,0.400000,0.000000,0.0,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.150685,0.800000,0.000000,0.0,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = df[['income']]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [10]:
l0 = keras.layers.Dense(units = 12, activation='sigmoid', input_shape = [103])
l1 = keras.layers.Dense(units = 12, activation='sigmoid')
l2 = keras.layers.Dense(units = 1, activation = 'sigmoid')

In [11]:
# Stack the layers
model = keras.Sequential([l0, l1, l2])

WARNING:tensorflow:From C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [12]:
# Configure the model for training
model.compile(loss = 'binary_crossentropy',
              optimizer = keras.optimizers.Adam(0.1), metrics = ['accuracy'])

In [13]:
# Train the model
model.fit(x = X_train, y = y_train, validation_data = (X_test, y_test), epochs = 10)
print('Model Trained')

WARNING:tensorflow:From C:\ProgramData\Miniconda3\envs\minimal_ds\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 31655 samples, validate on 13567 samples
Epoch 1/10
31655/31655 [==============================] - 2s 74us/step - loss: 0.3703 - acc: 0.8263 - val_loss: 0.3542 - val_acc: 0.8370
Epoch 2/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3553 - acc: 0.8337 - val_loss: 0.3497 - val_acc: 0.8357
Epoch 3/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3531 - acc: 0.8346 - val_loss: 0.3549 - val_acc: 0.8381
Epoch 4/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3530 - acc: 0.8326 - val_loss: 0.3526 - val_acc: 0.8309
Epoch 5/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3498 - acc: 0.8324 - val_loss: 0.3605 - val_acc: 0.8349
Epoch 6/10
31655/31655 [==============================] - 2s 57us/step - loss: 0.3491 - acc: 0.8338 - val_loss: 0.3573 - val_acc: 0.8270
Epoch 7/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3479 - acc: 0.8379 - val_loss: 0.3651 - val_acc: 0.8370
Epoch 8/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3472 - acc: 0.8345 - val_loss: 0.3582 - val_acc: 0.8362
Epoch 9/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3509 - acc: 0.8310 - val_loss: 0.3550 - val_acc: 0.8333
Epoch 10/10
31655/31655 [==============================] - 2s 58us/step - loss: 0.3455 - acc: 0.8389 - val_loss: 0.3604 - val_acc: 0.8282
Model Trained